# artifacts/binaries

dist
bin
data/lib
coverage
*.tsbuildinfo


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Python virt envs
pyvenv.cfg

# JavaScript

node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# secrets

.env
.env.*
!.env.sample